<a href="https://colab.research.google.com/github/Sam2415-gif/Goeduhub/blob/main/TASK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 3**

**Name -SAMMOHAN PRADHAN**

**Reg no. - GO_STP_13234**

Questions on dictionary:-

Q1. Write a Python Program to sort (ascending and descending) a dictionary by value.

In [1]:
import operator

x = {1:2,3:4,4:3,2:1,0:0}
print('Original dictionary: ',x)

l=sorted(x.items(), key=operator.itemgetter(1))
print('Ascending order of dictionary is: ',l)

l=sorted(x.items(), key=operator.itemgetter(1), reverse=True)
print('Descending order of dictionary is: ',l)

Original dictionary:  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Ascending order of dictionary is:  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Descending order of dictionary is:  [(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]

Q.2 Write a Python Program to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [2]:
d = {0:10, 1:20}
d[2] = 30
print(d)

{0: 10, 1: 20, 2: 30}

Q.3 Write a program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [3]:
d={}
d['New Delhi'] = 38
d['Mumbai'] = 35
d['Chennai'] = 40
d['Kolkata'] = 36
d['Bangalore'] = 32
d['Ahmedabad'] = 42
d['Srinagar'] = 22
print(d)

city = input('Enter a city name: ')
if city in d:
  print('The temperature in',city,'is',d[city])
else:
  print('The city is not in the dictionary')

{'New Delhi': 38, 'Mumbai': 35, 'Chennai': 40, 'Kolkata': 36, 'Bangalore': 32, 'Ahmedabad': 42, 'Srinagar': 22}
Enter a city name: Kolkata
The temperature in Kolkata is 36

Q.4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [4]:
color_name = ["Black","Red","Maroon","Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

print([{'color_name':n,'color_code':c} for n,c in zip(color_name,color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee Salary John 14 Smith 13 Alice 32 Daneil 21

Using above create a dictionary of Employees and their Salary Write a program that asks user for three type of inputs,

print: if user enter print then it should print all Employees with their Salary in this format, John ==>14 Smith ==>13 Alice ==>32 Daneil ==>21

add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [5]:
d={}
d['John'] = 14
d['Smith'] = 13
d['Alice'] = 32
d['Daneil'] = 21
print(d)
dict.items(d)

name = input('Enter an employee name: ')
if name in d:
  print('Already exists')
else:
  salary = input('Enter salary: ')
d[name] = salary
print(d)

name = input('Enter an employee name: ')
if name in d:
  d.pop(name)
  print(d)
else:
  print("Employee doesn't exist")

name = input('Enter an employee name: ')
if name in d:
  print('The salary of ',name,'is: ',d[name])
else:
  print('Not found')

{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21}
Enter an employee name: Sammohan
Enter salary: 25
{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21, 'Sammohan': '25'}
Enter an employee name: Alice
{'John': 14, 'Smith': 13, 'Daneil': 21, 'Sammohan': '25'}
Enter an employee name: Smith
The salary of  Smith is:  13

Questions on Sets-

Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. But like sets, it is not ordered

In [6]:
my_set = {'a','b','c','d'}
print(my_set)
my_set.add('e')
print(my_set)

fset = frozenset(my_set)
print('The frozen set is: ',fset)

{'a', 'd', 'c', 'b'}
{'a', 'b', 'c', 'd', 'e'}
The frozen set is:  frozenset({'a', 'b', 'd', 'c', 'e'})

Q.2 Find the elements in a given set that are not in another set

set1 = {10,20,30,40,50}
 
set2 = {40,50,60,70,80}

Difference between set1 and set2 is {10,20,30}

In [8]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}

set3 = set1.symmetric_difference(set2)
print('Elements in a given set that are not in another set: ',set3)

set4 = set1 - set2
print('Difference between set1 and set2 is ',set4)

Elements in a given set that are not in another set:  {80, 20, 70, 10, 60, 30}
Difference between set1 and set2 is  {10, 20, 30}